language: java
install: true
addons:
  sonarcloud:
    organization: "sunxuia"
    token:
      secure: "sonarcloud_token"
script: |
  mvn test &&\
  mvn org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar -Dsonar.projectKey=sunxuia_travis-ci-study